{% extends 'base.html' %}
{% block title %}
Create post
{% endblock %}

{% block content %}
<div class="post-content">

    <h3>Hi, I'm Zuz</h3>

    <p>If you ever suffered from chronic health issues, digestive problems like IBS or SIBO, problematic skin and couldn't really get rid of those - I feel you.</p>
    <p>On a daily basis I'm a software developer and a coding teacher, however my main passion is Ayurveda and its implementation into daily modern life. I've been suffering myself from horrific problems, went through complicated treatments and diets or was told to stay on medication for the rest of my life. My life took a 180 degree turn when I discovered Ayurveda and started to implement it alongside the conventional medicine. Believe it or not, majority of my problems are gone and I discovered a more balanced, conscious and happy life and I'm happy to share my findings and experiences with you!</p>
</div>
{% endblock %}