{% extends 'base.html' %}
{% block title %}
{{ post.title }}
{% endblock %}

{% block content %}
<div class="post-content">
    <p class='category'>{{ post.category.upper }} · <small>{{ post.post_date }}</small></p>
    <h1>{{ post.title }}</h1>
    {% if user.is_authenticated %}
    <div class="manage-post">
        <a href="{% url 'update_post' post.slug %}" class='manage badge btn-dark'>Edit</a>
        <a href="{% url 'delete_post' post.slug %}" class='manage badge btn-warning'>Delete</a>
    </div>
    {% endif %}
    <hr>
    <p>{{ post.body|safe }}</p>
    {% if post.tag.any %}
    <p class='category'>TAGS:
    {% for tag in post.tag.all %}
            <a href="{% url 'tag' tag|slugify %}" class='badge btn-secondary text-decoration-none'>{{ tag }}</a>
    {% endfor %}
    {% endif %}
    </p>
    <h3 class="comments">Comments</h3>
    {% if not post.comments.all %}

    Leave the first comment!
    <br /><br />

    <div class="container">
        <div class="row">
            <div class="col comment-form">
                <form method="post" class="form-group">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-secondary">Add comment</button>
                </form>
            </div>
        </div>
    </div>
    {% else %}
    {% for comment in post.comments.all %}
    <div class="comment">
        <strong>
            {{ comment.name }} - {{ comment.created_at }}
        </strong>
        {{ comment.body }}
        {% if comment.replies.all %}
        {% for reply in comment.replies.all %}
        <div class="reply" style="margin-left: 50px">
            <small>
                <strong>
                    {{ reply.name }} replied ({{ reply.created_at }})
                </strong>
            </small>
            {{ reply.body }}
        </div>
        {% endfor %}
    {% endif %}
    </div>
    {% endfor %}
    <hr>
    <h5>Write a comment</h5>

    <div class="container">
        <div class="row">
            <div class="col comment-form">
                <form method="post" class="form-group">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-secondary">Add comment</button>
                </form>
            </div>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}