{% extends 'base.html' %}
{% block title %}
Edit post
{% endblock %}

{% block content %}
{% if user.is_authenticated %}

<h1>Edit the post</h1>
<br /><br />

<div class="container">
    <div class="row">
        <div class="col-6">
            <form method="post" enctype="multipart/form-data" class="form-group">
                {% csrf_token %}
                {{ form.media }}
                {{ form.as_p }}
                <button class="btn btn-secondary">Update</button>
            </form>
        </div>
    </div>
</div>

{% endif %}
{% endblock %}