.post-image-box {
    display: flex;
    justify-content: center;
}

.header-image {
    background-position: cover;
    margin: 50px;
    max-width:560px;
}

.post-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;
    margin: auto;
}

.comments {
    margin: 20px 0;
}

.comment {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.comment-form {
    margin: 15px;
}

.reply {
    margin-left: 20px;
}

.manage-post {
    display: flex;
}

.manage {
    text-decoration: none;
    max-width: 100px;
}

@media (max-width: 720px) {

    .header-image {
        background-position: cover;
        margin: 10px;
        max-width:400px;
    }

    .post-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 95%;
        margin: auto;
    }

    .comments {
        margin: 10px 0;
    }

    .comment {
        display: flex;
        flex-direction: column;
        margin: 10px 0;
    }

    .comment-form {
        margin: 5px;
    }

}

@media (max-width: 480px) {

    .header-image {
        background-position: cover;
        align-self: center;
        max-width: 300px;
    }
}
