@import url('https://fonts.googleapis.com/css2?family=Nixie+One&family=Playfair+Display:wght@400;700&family=Poppins:ital,wght@0,100;0,300;0,600;1,100&display=swap');
@import 'css/post_details';
@import 'css/nav';

body {
    font-family: 'Poppins', sans-serif;
}

h1.title {
    font-family: 'Nixie One', serif;
    margin: 30px 0;
}

.blog-posts-container {
  display: grid | inline-grid;
}


/* Typography imported from Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Source+Sans+Pro:200,400');

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
}

.post-details, a {
  font-family: 'Source Sans Pro', sans-serif;
}

/* Generic styles */
html {
  scroll-behavior: smooth;
}

small.date {
  margin-left: 10px;
}
a.buttonify {
  background-color: goldenrod;
  text-decoration: none;
  color: white;
  border-radius: .05rem;
  text-align: center;
  display: inline-block;
  transition: all .3s;
}

a.read {
  color: #4a4a4a;
  text-decoration: none;
}

a:hover {
  opacity: .6;
}

/* posts styles */
.posts {
  padding: 2rem;
}

.posts {
  .posts-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 1rem;
  justify-content: center;
  }
}

.posts > .posts-grid > .post-card {
  border: 1px solid #E2E2E2;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.post-card-body > figure {
  max-height: 220px;
  overflow: hidden;
  border-top-left-radius: .05rem;
  border-top-right-radius: .05rem;
  position: relative;
}

.post-card-body > figure > a > img {
  width: 100%;
}

.post-card-body > figure > a > figcaption {
  position: absolute;
  bottom: 0;
  background-color: rgba(0,0,0,.7);
  width: 100%;
}

.post-card-body > figure > a > figcaption > h3 {
  color: white;
  padding: .75rem;
  font-size: 1.25rem;
}

.post-details > p {
  font-size: 1rem;
  line-height: 1.5;
  padding: 1rem .75rem;
  color: #666666;
}

.date {
  color: #666666
}

.actions {
  margin: 0px 20px 20px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

